<!DOCTYPE html>

<html>

<head>
    <title>nounou.esc.com</title>
    <link rel="stylesheet" type="text/css" href="../css/master.css">
    
</head>

<body>
    <main>
        <header>
            <div class="TextCadre">
                <a href="/" ><h1>Nounou.esc.com</h1></a>
                <h3>La branche nounou de esc.com</h3>
            </div>
            <div class="CircleForPic">
                <img src="https://image.flaticon.com/icons/svg/1876/1876832.svg" alt="Babysitter logo">
            </div>
        </header>
        <div class="BottomLine"></div>
		<section>
            <h4>Page d'Accueil Client</h4>
			<div class="BottomLine"></div></br>
			<div class="ProfilContainer">

					<div id="Contact">
						<h3>Vous recherchez une nounou ?</h3>
						<p>
							<a href="/montrer-nounous">Voir la liste des nounous</a>
						</p>
					</div>

					<div id="Contact">
						<h3>Vous voulez ajouter un enfant à votre compte client ?</h3>
						<p>
							<a href="/creer-bambin">Créer un enfant</a>
						</p>
					</div>

			</div>
        </section>    
        <div class="BottomLine"></div>
    </main>
</body>

</html>