<!DOCTYPE html>

<html>

<head>
    <title>nounou.esc.com</title>
    <link rel="stylesheet" type="text/css" href="../css/master.css">
    
</head>

<body>
    <main>
        <header>
            <div class="TextCadre">
                <a href="/" ><h1>Nounou.esc.com</h1></a>
                <h3>La branche nounou de esc.com</h3>
            </div>
            <div class="CircleForPic">
                <img src="https://image.flaticon.com/icons/svg/1876/1876832.svg" alt="Babysitter logo">
            </div>
        </header>
        <div class="BottomLine"></div>
		<section>
            <h4>Page d'Accueil Client</h4>
			<div class="BottomLine"></div></br>
			<div class="ProfilContainer">
				<ul>
					<li>
					<div id="Contact">
						<h3>Vous recherchez une nounou ?</h3>
						<p>
							<a href="/montrer-nounous">Voir la liste des nounous</a>
						</p>
					</div>
					</li></br>
					<li>

					<div id="Contact">
						<h3>Vous voulez ajouter un enfant à votre compte client ?</h3>
						<p>
							<a href="/creer-bambin/1">Créer un enfant</a>
						</p>
					</div>
					</li></br>
					<li>

					<div id="Contact">
						<h3>Vous voulez ajouter une offre de surveillance ?</h3>
						<p>
							<a href={{("/accepter-srv/"  ~ $client.id) | trans }}>Créer une surveillance</a>
						</p>
					</div>
					</li>
				</ul>

			</div>
				<p> Note : vous etes censés arriver ici suite au login, cependant, le site n'en disposant pas, vous voici directment sur un menu type </p>
				<p> De plus, nous partons ici du principe que vous etes authentifié avec le compte ayant l'id 1</p>

        </section>    
        <div class="BottomLine"></div>
    </main>
</body>

</html>