<! DOCTYPE html>

<html>

<head>
    <title> nounou.esc.com </title>
    <link  rel = " stylesheet "  type = " text / css "  href = " css / master.css ">
</head>

<body>
    <principal>
        <header>
            <div  class = " TextCadre ">
                <A  href = " / "> <h1> Nounou.esc.com </h1>
                <h3> La branche nounou de esc.com </h3> </a>
            </div>
            <div  class = " CircleForPic ">
                <img  src = " https://image.flaticon.com/icons/svg/1876/1876832.svg "  alt = " Logo de baby-sitter ">
            </div>
        </header>
        <div  class = " BottomLine "> </div>
        <section>
            <h4> Menu: </h4>
            <ul>
                <li>
                    <A  href = " / voir-Nounou / 1 "> Voir fils compte </a>
                </li>
                <li>
                    <A  href = " /-nounous montrer "> Voir les Autres nounous </a>
                </li>
                <li>
                    <A  href = " / validation-srv / 1 "> Voir SES Offres de surveillance </a>
                </li>
            </ul>
            <p> Remarque: vous etes censés arriver ici suite à la connexion, cependant, le site n'en a pas passé, vous voici la direction sur un type de menu </p>
            <p> De plus, nous partons ici du principe que vous etes authentifié avec le compte ayant l'id 1 </p>
        </section>

        <div  class = " BottomLine "> </div>
    </main>
</body>

</html>