<!DOCTYPE html>

<html>

<head>
    <title>nounou.esc.com</title>
    <link rel="stylesheet" type="text/css" href="css/master.css">
</head>

<body>
    <main>
        <header>
            <div class="TextCadre">
                <a href="/"><h1>Nounou.esc.com</h1>
                <h3>La branche nounou de esc.com</h3></a>
            </div>
            <div class="CircleForPic">
                <img src="https://image.flaticon.com/icons/svg/1876/1876832.svg" alt="Babysitter logo">
            </div>
        </header>
        <div class="BottomLine"></div>
        <section>
            <h4>Menu :</h4>
            <ul>
                <li>
                    <a href="/voir-nounou/1">Voir son compte</a>
                </li>
                <li>
                    <a href="/montrer-nounous">Voir les autres nounous</a>
                </li>
                <li>
                    <a href="/creer-srv/1">Faire de demande de surveillance/a>
                </li>
            </ul>
            <p> Note : vous etes censés arriver ici suite au login, cependant, le site n'en disposant pas, vous voici directment sur un menu type </p>
            <p> De plus, nous partons ici du principe que vous etes authentifié avec le compte ayant l'id 1</p>
        </section>
        
        <div class="BottomLine"></div>
    </main>
</body>

</html>