<!DOCTYPE html>

<html>

<head>
    <title>nounou.esc.com</title>
    <link rel="stylesheet" type="text/css" href="css/master.css">
</head>

<body>
    <main>
        <header>
            <div class="TextCadre">
                <a href="/"><h1>Nounou.esc.com</h1>
                <h3>La branche nounou de <a href="https://www.google.com/search?sxsrf=ACYBGNSaEOIw1q75tWAyjhQrV7Yjfeb5Lw%3A1577046925966&source=hp&ei=jdP_XdGqOMecjLsP1ry28As&q=Esc+pour+escorte&oq=Esc+pour+escorte&gs_l=psy-ab.3...306.3338..3762...1.0..0.197.1457.9j6......0....1..gws-wiz.......0j0i203j0i22i10i30j0i22i30j33i160j33i21.DcZ6H6RBsMw&ved=0ahUKEwiRpcHOjcrmAhVHDmMBHVaeDb4Q4dUDCAY&uact=5" style="text-decoration: underline;">esc.com</a></h3></a>
            </div>
            <div class="CircleForPic">
                <img src="https://image.flaticon.com/icons/svg/1876/1876832.svg" alt="Babysitter logo">
            </div>
        </header>
        <div class="BottomLine"></div>
        <section>
            <h4>Page d'Accueil Nounou</h4>
			<div class="ProfilContainer">
				<ul>
					<li>
					<div id="Contact">
						<h3 style="text-align:center;">Vous consulter votre profil ?</h3>
						<p>
							<a href="/voir-nounou/1">Votre profil</a>
						</p>	
					</div>
					</li></br>
					<li>
					<div id="Contact">
						<h3 style="text-align:center;">Vous voulez voir les autres nounous ?</h3>
						<p>
							<a href="/montrer-nounous">Les autres nounous</a>
						</p>	
					</div>
					</li></br>
					<li>
					<div id="Contact">
						<h3 style="text-align:center;">Vous voulez voir vos offres de surveillances ?</h3>
						<p>
							<a href="/validation-srv/1">Vos offres de surveillance</a>
						</p>	
					</div>
					</li></br>
				</ul>
			</div>
				<p> Note : vous êtes censés arriver ici suite au login, cependant, le site n'en disposant pas, vous voici directement sur un menu type </p>
				<p> De plus, nous partons ici du principe que vous êtes authentifié avec le compte nounou ayant l'id 1</p>
        </section>
        
        <div class="BottomLine"></div>
    </main>
</body>

</html>