<!DOCTYPE html>

<html>

<head>
    <title>nounou.esc.com</title>
    <link rel="stylesheet" type="text/css" href="css/master.css">
</head>

<body>
    <main>
        <header>
            <div class="TextCadre">
                <a href="/"><h1>Nounou.esc.com</h1>
                <h3>La branche nounou de esc.com</h3></a>
            </div>
            <div class="CircleForPic">
                <img src="https://image.flaticon.com/icons/svg/1876/1876832.svg" alt="Babysitter logo">
            </div>
        </header>
        <div class="BottomLine"></div>
        <section>
            <h4>Page d'Accueil Nounou</h4>
			<div class="BottomLine"></div></br>
			<div class="ProfilContainer">
				<ul>
					<li>
					<div id="Contact">
						<h3>Vous voulez voir votre profil ?</h3>
						<p>
							<a href="/voir-nounou/1">Voir votre profil</a>
						</p>	
					</div>
					</li></br>
					<div id="Contact">
						<h3>Vous voulez voir les autres nounous ?</h3>
						<p>
							<a href="/montrer-nounous">Voir les autres nounous</a>
						</p>	
					</div>
					</li></br>
					<div id="Contact">
						<h3>Vous voulez voir les offres de surveillances ?</h3>
						<p>
							<a href="/validation-srv/1">Voir ses offres de surveillance</a>
						</p>	
					</div>
					</li></br>
				</ul>
			</div>
				<p> Note : vous êtes censés arriver ici suite au login, cependant, le site n'en disposant pas, vous voici directement sur un menu type </p>
				<p> De plus, nous partons ici du principe que vous êtes authentifié avec le compte ayant l'id 1</p>
        </section>
        
        <div class="BottomLine"></div>
    </main>
</body>

</html>