<!DOCTYPE html>

<html>

<head>
    <title>nounou.esc.com</title>
    <link rel="stylesheet" type="text/css" href="css/master.css">
</head>

<body>
    <main>
        <header>
            <div class="TextCadre">
                <h1>Nounou.esc.com</h1>
                <h3>La branche nounou de esc.com</h3>
            </div>
            <div class="CircleForPic">
                <img src="https://image.flaticon.com/icons/svg/1876/1876832.svg" alt="Babysitter logo">
            </div>
        </header>
        <div class="BottomLine"></div>
        <section>
            <h4>Accueil</h4>
            <ul>
                <li>
                    <a href="/login-nounou">Se connecter en tant que Nounou</a>
                </li>
                <li>
                    <a href="/creer-nounou">Créer un compte Nounou</a>
                </li>
                <li>
                    <a href="#">Se connecter en tant que Client</a>
                </li>
                <li>
                    <a href="/creer-client">Créer un compte Client</a>
                </li>
            </ul>
        </section>
        <div class="BottomLine"></div>
    </main>
</body>

</html>