<!DOCTYPE html>

<html>

<head>
    <title>nounou.esc.com</title>
    <link rel="stylesheet" type="text/css" href="css/master.css">
</head>

<body>
    <main>
        <header>
            <div class="TextCadre">
                <a href="/"><h1>Nounou.esc.com</h1>
                <h3>La branche nounou de <a href="https://www.google.com/search?sxsrf=ACYBGNSaEOIw1q75tWAyjhQrV7Yjfeb5Lw%3A1577046925966&source=hp&ei=jdP_XdGqOMecjLsP1ry28As&q=Esc+pour+escorte&oq=Esc+pour+escorte&gs_l=psy-ab.3...306.3338..3762...1.0..0.197.1457.9j6......0....1..gws-wiz.......0j0i203j0i22i10i30j0i22i30j33i160j33i21.DcZ6H6RBsMw&ved=0ahUKEwiRpcHOjcrmAhVHDmMBHVaeDb4Q4dUDCAY&uact=5" style="text-decoration: underline;">esc.com</a></h3></a>
            </div>
            <div class="CircleForPic">
                <img src="https://image.flaticon.com/icons/svg/1876/1876832.svg" alt="Babysitter logo">
            </div>
        </header>
        <div class="BottomLine"></div>
        <section>
            <h4>Accueil</h4>
            <ul>
                <li>
                    <a href="/login-nounou">Se connecter en tant que Nounou</a>
                </li>
                <li>
                    <a href="/creer-nounou">Créer un compte Nounou</a>
                </li>
                <li>
                    <a href="/login-client">Se connecter en tant que Client</a>
                </li>
                <li>
                    <a href="/creer-client">Créer un compte Client</a>
                </li>
            </ul>
        </section>
        <div class="BottomLine"></div>
    </main>
</body>

</html>